<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   InflationCalc

   Created by Alexandra Herteg on 14.07.2021.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
      <key>AppSecret</key>
      <string>5345f814-f35f-4c21-aa02-fe0532454707</string>
  </dict>
</plist>
